.git
.idea
.github
.env
.env.*
!.env.example
node_modules
application/config/config.php
application/config/config.*.php
application/config/security.php
application/config/allowed_hosts.php
tmp/runtime/*
tmp/assets/*
tmp/upload/*
tests
