[Unit]
Description=LimeSurvey web application

[Container]
Image=ghcr.io/leidenuniversitylibrary/limesurvey:v7.3.0
Pull=always
Network=limesurvey.network
PublishPort=8084:80
Volume=limesurvey-config:/var/lib/limesurvey/config
Volume=limesurvey-uploads:/var/www/html/upload
Volume=limesurvey-temporary:/var/www/html/tmp

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=default.target
